body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #61dafbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand {
  padding-left: 40px;
  flex-grow: 1;
}

.search-bar {
  height: 30px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 20px; 
  flex-grow: 1; 
  background-color: #fff;
}

.navbar-menu {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.navbar-item {
  margin-left: 20px; 
  cursor: pointer; 
}

.navbar h3 {
  color: white; 
  font-size: 1.2rem; 
}

.home-container {
  padding: 20px;
  padding-top: 60px; 
  min-height: calc(100vh - 60px); 
  width: 100vh; 
}

.order-by {
  padding-top: 40px;
  margin-bottom: 20px; 
}

.order-by p {
  color: #666; 
  font-size: 16px; 
}

.button {
  color: #fff; 
  border-radius: 20px; 
  padding: 10px 20px; 
  margin-right: 10px; 
  cursor: pointer; 
}

.new-button {
  background-color: rgb(208, 164, 235);
}

.popular-button {
  background-color: rgba(253, 2, 44, 0.233);
}

.post-button {
  background-color: #61dafbe3;
}

.post-display {
  background-color: #fff; 
  padding: 15px; 
  margin-bottom: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
}

.post-display h5 {
  color: #333; 
  margin-bottom: 5px; 
}

.post-display p {
  color: #666; 
  font-size: 14px; 
}

.post-box {
  background-color: #fff;
  width: 100%; 
  max-width: 500px; 
  margin: 20px auto; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.post-box h3 {
  color: #333;
}

.title-box,
.content-box,
.url-box {
  color: #333;
  background-color: white;
  width: 90%;
  margin-bottom: 20px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  resize: vertical;
}

.title-box {
  height: 40px; 
}

.content-box {
  height: 150px; 
}

.url-box {
  height: 40px; 
}

.post-detail {
  margin-top: 100px;
  background-color: #fff; 
  padding: 20px;
  margin-bottom: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  width: 550px; 
}

.post-detail button {
  margin: 10px; 
}

.comments-display {
  background-color: #61dafb26;
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 10px; 
}

.inputComment {
  width: calc(100% - 20px); 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}